body {
  font-family: sans-serif;
  padding: 1em;
}

#summary-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.summary-item {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
}

.content-container {
  display: flex;
  gap: 1em;
}

.summary-content {
  flex: 2;
}

.screenshot-container {
  flex: 1;
}

.screenshot-container img {
  width: 100%;
  border-radius: 8px;
}
